<h1>Edit Existing Figure</h1>
<form method="POST" action="/figures/<%=@figure.id%>">
  <input type="hidden" name="_method" value="PATCH"/>
  <label>Figure Name:</label>
  <br></br>
  <%= erb :'figures/_figure_input', locals: {figure: @figure} %>
  <br></br>
  <label>Titles:</label>
  <br></br>
  <% Title.all.each do |title| %>
    <%= erb :'titles/_title_input', locals: {title: title, figure: @figure} %>
  <% end %>
  <input id="new_title" type="text" name="title[name]" value=""/>
  <br></br>
  <label>Landmarks:</label>
  <br></br>
  <% Landmark.all.each do |landmark| %>
    <%= erb :'landmarks/_landmark_input', locals: {landmark: landmark, figure: @figure} %>
  <% end %>
  <input id="new_landmark" type="text" name="landmark[name]" value=""/>
  <input type="submit" value="Edit Figure"/>
</form>
